
/* DemiLight */
@font-face {
    font-family: NotoSans;
    font-style: normal;
    font-weight: 350;
    src: url("../fonts/NotoSansKR-350.woff") format("woff");
}

/* Medium */
@font-face {
    font-family: NotoSans;
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/NotoSansKR-500.woff") format("woff");
}

/* Black */
@font-face {
    font-family: NotoSans;
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/NotoSansKR-900.woff") format("woff");
}







